1_intro_to_R.pdf
1_intro_to_R_answers.pdf
2_visualizations.pdf
2_visualizations_answers.pdf
3_loading and cleaning.pdf
3_loading and cleaning_answers.pdf
3_loading_and_cleaning.pdf
3_loading_and_cleaning_answers.pdf
4_summarizing_and_transforming.pdf
4_summarizing_and_transforming_answers.pdf
5_getting_help.pdf
5_getting_help_answers.pdf
